<div class=" titulo-prin">
    <p class="prin-art">
        ÚLTIMAS
         NOTICIAS
    </p>
</div>

 <div class="container  align-items-center">
    <p class="linea-art"></p>
    <div class="row contenedor-art1">
    <div class="col-12 col-md-6 col-lg-4 mt-4 "*ngFor="let articulo of listArticle ;let i=index">
    <img src= {{articulo.img}} class="img-art">
    <div class="contenedor-art2"></div>
    <p class="titulo-art mt-3">{{articulo.title}}</p>
   
    <p class="preview-art mt-2">
        {{articulo.preview}}
    </p>  
    <button class="button-art mt-3"  routerLink={{articulo.ruta}}>VER MÁS</button>
    </div>
   </div>
</div>


